bin/
obj/
release/
release*/
node_modules/
dist/
out/
*.log
*.local
*.user
*.suo
*.json.bak
clipboard-history.json
src/VersionInfo.g.cs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db
